In [38]:
from bs4 import BeautifulSoup
from requests import get
from re import sub

In [39]:
url = "https://www.rottentomatoes.com/top/bestofrt/top_100_science_fiction__fantasy_movies/"

In [40]:
A = get(url).content

In [41]:
soup = BeautifulSoup(A,"html.parser")

In [42]:
soup1 = soup.find("table",class_="table")

In [43]:
title = []
for i in soup1.find_all("a",class_ ="unstyled articleLink"):
    i = i.text
    i = sub("[^0-9a-zA-Z.() ]","",i)
    i = i.strip()
    title.append(i)

In [44]:
tomato_meter = []
for i in soup1.find_all("span",class_ ="tMeterScore"):
    i = i.text
    i = sub("[^0-9a-zA-Z.() ]","",i)
    i = int(i)
    tomato_meter.append(i)

In [45]:
no_reviews = []
for i in soup1.find_all("td",class_ ="right hidden-xs"):
    i = i.text
    i = sub("[^0-9a-zA-Z.() ]","",i)
    i =  int(i)
    no_reviews.append(i)

In [46]:
from pandas import DataFrame
A = DataFrame([title,tomato_meter,no_reviews]).T
A.columns = ["Movie Title","Tomato Meter","No. of Reviews"]

In [47]:
A

,Movie Title,Tomato Meter,No. of Reviews
0,The Wizard of Oz (1939),98,160
1,Black Panther (2018),96,525
2,Avengers Endgame (2019),94,547
3,Toy Story 4 (2019),97,453
4,Mad Max Fury Road (2015),97,434
...,...,...,...
95,The Hunger Games Catching Fire (2013),90,293
96,Young Frankenstein (1974),94,69
97,The Lord of the Rings The Return of the King (...,93,275
98,Brazil (1985),98,49
99,Babe (1995),97,70